---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Experience from '../components/Experience.astro';
import Skills from '../components/Skills.astro';
import Education from '../components/Education.astro';
import Blog from '../components/Blog.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
import FloatingButtons from '../components/FloatingButtons.astro';
import '../styles/global.css';
---

<Layout title="Pablo Alcalde García - Front-end Developer & SEO Specialist">
  <Header />
  <main>
    <Hero />
    <About />
    <Experience />
    <Skills />
    <Education />
    <Blog />
    <Contact />
  </main>
  <Footer />
  <FloatingButtons />
</Layout>

